/.vscode
/Mori.jar
discordbot/src/main/java/com/newt/config/
discordbot/target/classes/com/newt/config/
discordbot/target/classes/com/newt/Mori.class
discordbot/target/classes/com/newt/commands/SortCommand.class
